@import './reset.css';

:root {
  --default-space: 8px;
  --card-background: #ffffff;
  --primary-color: #ff6600;
  --secondary-color: #333333;
  --disable-color: #cccccc;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.container-sm {
  max-width: 58%;
  margin-left: 5%;
}
