.main-content {
  min-height: 100vh;
}

header {
  position: relative;
  height: 60vh;
  margin-bottom: calc(var(--default-space)*4);
}

.header__background {
  height: 300px;
  background-color: var(--primary-color);
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.8),
    rgba(77, 33, 4, 0.8),
    rgba(255, 102, 0, 0.4),
    rgba(255, 102, 0, 0.2)
  ), url("../../assets/images/header_background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__container {
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: calc(var(--default-space)*3);
  height: 200px;
}

.header__info {
  flex: 2;
}

.header__cart {
  flex: 1;
}

main {
  border: 1px solid;
}
